Unity Project/Assets/Art Assets/Asteroids/ast1.png.meta
Unity Project/Assets/Art Assets/Asteroids/ast1.png.meta
Unity Project/Assets/Art Assets/Asteroids/ast6.png.meta
Unity Project/Assets/Art Assets/Asteroids/ast1.png.meta
Unity Project/Assets/Art Assets/Asteroids/ast1.png.meta
*.meta